
     <link rel="stylesheet" href="css/Travel_Trang_chu.css">
    <section>
        <footer style="background-color: #e0f7fa; padding: 20px;">
            <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
              <div style="margin-left: 20px">
                <h3>Du lịch trong nước</h3>
                <ul>
                  <li>Hà Nội</li>
                  <li>Huế</li>
                  <li>Đà Nẵng</li>
                  <li>Nha Trang</li>
                  <li>Phan Thiết</li>
                  <li>Phú Quốc</li>
                  <li>Bắc Kạn</li>
                  <li>Quy Nhơn</li>
                  <li>Hạ Long</li>
                  <li>Quảng Bình</li>
                  <li>Quảng Nam</li>
                  <li>Đà Lạt</li>
                  <li>Bà Rịa - Vũng Tàu</li>
                  <li>Cần Thơ</li>
                  <li>Hà Giang</li>
                  <li>Côn Đảo</li>
                </ul>
              </div>
              <div>
                <h3>Du lịch nước ngoài</h3>
                <ul>
                  <li>Trung Quốc</li>
                  <li>Malaysia</li>
                  <li>Hàn Quốc</li>
                  <li>Mỹ</li>
                  <li>Ấn Độ</li>
                  <li>Đài Loan</li>
                  <li>Thái Lan</li>
                  <li>Singapore</li>
                  <li>Úc</li>
                  <li>Nhật Bản</li>
                  <li>Nga</li>
                  <li>Maldives</li>
                  <li>Tây Ban Nha</li>
                  <li>Na Uy</li>
                  <li>Hà Lan</li>
                  <li>Đức</li>
                </ul>
              </div>
              <div>
                <h3>Tra cứu Booking</h3>
                <input type="text" placeholder="Nhập mã booking của quý khách" style="padding: 5px; margin-bottom: 10px;">
                <button style="padding: 5px;">Tra cứu</button>
                <h3>Dòng tour</h3>
                <ul>
                  <li>Cao cấp</li>
                  <li>Tiết kiệm</li>
                  <li>Tiêu chuẩn</li>
                  <li>Giá tốt</li>
                </ul>
                <h3>Dịch vụ lẻ</h3>
                <ul>
                  <li>Vé máy bay</li>
                  <li>Khách sạn</li>
                  <li>Combo du lịch</li>
                </ul>
              </div>

              <div class="app">
                <h3>Ứng dụng di động</h3>
                <div>
                  <a href="#"><img src="img/googlePlay.webp" alt="CH Play QR Code" style="width: 100px;"></a>
                  <a href="#"><img src="img/appStore.webp" alt="App Store QR Code" style="width: 100px;"></a>
                </div>
                <h3>Chấp nhận thanh toán</h3>
                <div>
                  <img src="img/visa.webp" alt="Visa" style="width: 50px;">
                  <img src="img/mastercard.webp" alt="MasterCard" style="width: 50px;">
                  <img src="img/vnpay.webp" alt="VNPay" style="width: 50px;">
                  <img src="img/momo.webp" alt="MoMo" style="width: 50px;">
                </div>
              </div>
            </div>
            <div class="footer--container__more--policy-wrapper">
              <div class="footer--container__more--policy-content section-container">
                <p>Bản quyền của Vietravel ® 2024.</p><p>Bảo lưu lưu mọi quyền. Ghi rõ nguồn "www.travel.com.vn" ® khi sử dụng lại thông tin từ website này.</p>
                <p>Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2022/TCDL-GP LHQT.</p>
            </div>
            </div>
          </footer>
    </section>
