
<link rel="stylesheet" href="css/Travel_Trang_chu.css">
<body>
    <nav class="navbar">
        <a href="/">
        <div class="logo">
            <img src="img/logo.webp" alt="travel.com.vn">
        </div></a>
        <ul style="padding-top: 10px;" class="nav-links">
            <li><a href="#" id="destinations">Điểm đến</a></li>
            <li><a href="#">Vietravel MICE</a></li>
            <li><a href="/plus">Vietravel Loyalty</a></li>
            <li><a href="/lienhe">Liên hệ</a></li>
            <li><a href="#" id="destinations2">☰</a></li>
        </ul>
        <div class="submenu" id="destinationsSubmenu2">
            <button class="close-submenu">&times;</button>
            <div class="submenu-content">
                <div class="submenu-column">
                    <ul>
                        <li><a href="#">VẬN CHUYỂN</a></li>
                        <li><a href="#">KHUYẾN MẠI</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                    </ul>
                </div>
                <div class="submenu-column">
                    <ul>
                        <li><a href="#">Thuê xe</a></li>
                        <li><a href="#">Vé máy bay</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="submenu" id="destinationsSubmenu">
            <button class="close-submenu">&times;</button>
            <div class="submenu-content">
                <div class="submenu-column">
                    <h6>DU LỊCH NƯỚC NGOÀI</h6>
                </div>
                <div class="submenu-column">
                    <h5>CHÂU Á</h5>
                    <ul>
                        <li><a href="#">Thái Lan</a></li>
                        <li><a href="#">Singapore</a></li>
                        <li><a href="#">Trung Quốc</a></li>
                        <li><a href="#">Nhật Bản</a></li>
                        <li><a href="#">Hàn Quốc</a></li>
                    </ul>
                    <a href="#" class="see-all">Xem tất cả →</a>
                </div>
                <div class="submenu-column">
                    <h5>CHÂU ÂU</h5>
                    <ul>
                        <li><a href="#">Pháp</a></li>
                        <li><a href="#">Tây Ban Nha</a></li>
                        <li><a href="#">Thụy Sĩ</a></li>
                        <li><a href="#">Ý</a></li>
                        <li><a href="#">Hà Lan</a></li>
                    </ul>
                    <a href="#" class="see-all">Xem tất cả →</a>
                </div>
                <div class="submenu-column">
                    <h5>CHÂU MỸ</h5>
                    <ul>
                        <li><a href="#">Mỹ</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Peru</a></li>
                        <li><a href="#">Cuba</a></li>
                        <li><a href="#">Canada</a></li>
                    </ul>
                    <a href="#" class="see-all">Xem tất cả →</a>
                </div>
                <div class="submenu-column">
                    <h5>CHÂU ÚC</h5>
                    <ul>
                        <li><a href="#">New Zealand</a></li>
                        <li><a href="#">Sydney</a></li>
                        <li><a href="#">Perth</a></li>
                        <li><a href="#">Melbourne</a></li>
                        <li><a href="#">Tasmania</a></li>
                    </ul>
                    <a href="#" class="see-all">Xem tất cả →</a>
                </div>
                <div class="submenu-column">
                    <h5>CHÂU PHI</h5>
                    <ul>
                        <li><a href="#">Ai Cập</a></li>
                        <li><a href="#">Nam Phi</a></li>
                        <li><a href="#">Mauritius</a></li>
                        <li><a href="#">Kenya</a></li>
                        <li><a href="#">Madagascar</a></li>
                    </ul>
                    <a href="#" class="see-all">Xem tất cả →</a>
                </div>
            </div>
        </div>

        <a href="/login">
        <div class="nav-icons">
            <button class="user-icon"><img src="img/user.6313d4b4.png"></button>
        </div>
        </a>
    </nav><!--End menu-->
</body>

